.logger-container{ 
    position: fixed;
    top: 10%;
    left: 10px;
    z-index: 333;
    box-shadow: 0px 0px 6px rgba(95, 20, 20, 0.16);
    background-color: var(--prince);
    overflow: hidden;
    opacity: 0;
    transition: all 1500ms ease-out;
    border-radius: var(--xl) !important;
    background-size: 50%;
    font-size: var(--font-sm) !important;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 70vw;
    max-height: 60vh;
    min-width: 40vw;
}
@keyframes loop {
    0%,100% { transform: translateY(3px); }
    50% { transform: translateY(-3px); }
}

.logger-child{
    display: flex;
    flex-direction: column;
    /* max-width: 70vw;
    max-height: 60vh;
    min-width: 40vw; */
    gap: var(--md);
    padding: var(--xl) var(--xl);
}

@media screen and (min-width: 768px) {
    .logger-child{
        max-width: 700px;
    }   
}
.logger-child .json-builder{
    animation:fad-in 300ms ease-out;
}
@keyframes fad-in {
    0%   { opacity: 0.7; transform: translateX(-100px);}
    50%   { opacity: 1; transform: translateX(20px);}
    100% { opacity: 1;   transform: translateX(0)}
}


[is="colabs"]::before {
    content: attr(log-count);
    background-color: #f87171;
    color: #fff;
    font-size: 12px;
    text-align: center;
    counter-reset: 0;
    width: 18px !important;
    height: 18px !important;
    place-content: center;
    display: inline-flex;
    border-radius: 50px;
    box-shadow:  0px 0px 6px #f87171aa;
    position: absolute;
    padding: 2px;
    top: -10px;
    right: -6px;
}
[is="colabs"][log-count="hide"]::before {
    display: none !important;
}

[is="colabs"]{
    max-width:  50px !important;
    max-height: 50px !important;
    border-radius: 50px !important;
    box-shadow: inset 0px 0px 6px rgba(95, 20, 20, 0.5);
    animation: loop 4s ease-out infinite;
    padding: var(--xs);
    min-width: 30px;
    min-height: 30px;
    background-image: url("/public/android-chrome-512x512.png");
}

.clear-btn {
    position: sticky;
    top: -5px;
    left: 5px;
    margin-left: auto;
    background-color:var(--red);
    color: #ffffff;
    border-radius: 3px;
    padding: 3px 6px;
    animation: visible 1s ease-out;
    z-index: 333;
}
@keyframes visible {
    0%,90% { opacity: 0;display: none; }
    100% { opacity: 1;display: block; }
    
}
[is="colabs"] .clear-btn {
    display: none !important;
}

.hide-child { overflow: visible;}
.hide-child div{ display: none;}


[is="default"]{
    top: 10% !important;
    left: 10px !important;
}

.before::before{
    content: attr(area-label);
    background-color: var(--red);
    color: #fff;
    padding: 4px 10px;
    border-radius: 300px 300px 0 300px;
    top: -10px;
    left: -10px;
    position: absolute;
    font-size: var(--font-sm);
    font-weight: 600;
    z-index: 333;
}